@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 50px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.longLiner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 100px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;

  }
}

.paragraph {
  display: flex;
  line-height: 1;
  padding: 40px;
  max-width: 1280px;
  color: white;
  flex-wrap: wrap;

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}

.zoomParallax {
  height: 300vh;
  position: relative;

  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;

    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .imageContainer {
        position: relative;
        width: 25vw;
        height: 25vh;

        img {
          object-fit: cover;
        }
      }

      &:nth-of-type(2) {
        .imageContainer {
          top: -30vh;
          left: 5vw;
          width: 35vw;
          height: 30vh;
        }
      }

      &:nth-of-type(3) {
        .imageContainer {
          top: -10vh;
          left: -25vw;
          width: 20vw;
          height: 45vh;
        }
      }

      &:nth-of-type(4) {
        .imageContainer {
          left: 27.5vw;
          width: 25vw;
          height: 25vh;
        }
      }

      &:nth-of-type(5) {
        .imageContainer {
          top: 27.5vh;
          left: 5vw;
          width: 20vw;
          height: 25vh;
        }
      }

      &:nth-of-type(6) {
        .imageContainer {
          top: 27.5vh;
          left: -22.5vw;
          width: 30vw;
          height: 25vh;
        }
      }

      &:nth-of-type(7) {
        .imageContainer {
          top: 22.5vh;
          left: 25vw;
          width: 15vw;
          height: 15vh;
        }
      }
    }
  }
}



nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #141516;

  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);

    path {
      fill: #141516;
    }
  }

  p {
    display: flex;
    color: white;
    font-size: 42px;
    align-items: center;
    position: absolute;
    z-index: 1;

    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}