@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'About';
  src: url('../public/PPPangaia-Bold.otf');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 50px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.longLiner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 100px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;

  }
}

.paragraph {
  display: flex;
  line-height: 1;
  padding: 40px;
  max-width: 1280px;
  color: white;
  flex-wrap: wrap;
  font-family: 'About';

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}

.zoomParallax{
  height: 300vh;
  position: relative;
  .sticky{
      position: sticky;
      overflow: hidden;
      top: 0;
      height: 100vh;

      .el{
          width: 100%;
          height: 100%;
          top: 0;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          .imageContainer{
              position: relative;
              width: 25vw;
              height: 25vh;
              img{
                  object-fit: cover;
              }
          }
          &:nth-of-type(2){
              .imageContainer{
                  top: -30vh;
                  left: 5vw;
                  width: 35vw;
                  height: 30vh;
              }
          }
          &:nth-of-type(3){
              .imageContainer{
                  top: -10vh;
                  left: -25vw;
                  width: 20vw;
                  height: 45vh;
              }
          }
          &:nth-of-type(4){
              .imageContainer{
                  left: 27.5vw;
                  width: 25vw;
                  height: 25vh;
              }
          }
          &:nth-of-type(5){
              .imageContainer{
                  top: 27.5vh;
                  left: 5vw;
                  width: 20vw;
                  height: 25vh;
              }
          }
          &:nth-of-type(6){
              .imageContainer{
                  top: 27.5vh;
                  left: -22.5vw;
                  width: 30vw;
                  height: 25vh;
              }
          }
          &:nth-of-type(7){
              .imageContainer{
                  top: 22.5vh;
                  left: 25vw;
                  width: 15vw;
                  height: 15vh;
              }
          }
      }
  }
}

.font-about {
  font-family: 'About';
}