.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  color: white;

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;

    h2 {
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }

    .body {
      display: flex;
      height: 100%;
      gap: 50px;

      .description {
        position: relative;
        top: 10%;

        p {
          font-size: 16px;

          &::first-letter {
            font-size: 28px;
            font-family: 'Title';
          }
        }
      }

      .imageContainer {
        position: relative;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
        }

        img {
          object-fit: cover;
        }
      }
    }
  }
}

.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 50px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.longLiner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 100px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;

  }
}